! Xterm 
#include ".colors/.Xresources.solar"
xterm*termName: xterm-256color
xterm*faceName: Nimbus Mono PS
xterm*faceSize: 13
xterm*renderFont: true

! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: Medium
xterm*faceSize3: 12
! VT font menu: Large
xterm*faceSize4: 16
! VT font menu: Huge
xterm*faceSize5: 22

xterm*VT100.Translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)

xterm*VT100.Translations: #override \
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
    Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)

! Only select text
xterm*highlightSelection: true
! Remove trailing spaces
xterm*trimSelection: true

! Lines of output that you can scroll back over
xterm*saveLines: 4096
! Turn the scrollbar on, and put it on the right
xterm*scrollBar: true
xterm*rightScrollBar: true

! Do not scroll when there is new input e.g. tail -f /var/syslog
xterm*scrollTtyOutput: false

! sets colors for everything.
*background: #272822
*foreground: #a08080
*cursorColor: #aaaaaa

!Theme Nine
xterm*background: rgb:1a/1a/1a
xterm*foreground: rgb:d6/d6/d6
xterm*color0:     rgb:00/00/00
xterm*color1:     rgb:9e/18/28
xterm*color2:     rgb:00/88/00
xterm*color3:     rgb:96/8a/38
xterm*color4:     rgb:41/41/71
xterm*color5:     rgb:96/3c/59
xterm*color6:     rgb:41/81/79
xterm*color7:     rgb:be/be/be
xterm*color8:     rgb:66/66/66
xterm*color9:     rgb:cf/61/71
xterm*color10:     rgb:7c/bc/8c
xterm*color11:     rgb:ff/f7/96
xterm*color12:     rgb:41/86/be
xterm*color13:     rgb:cf/9e/be
xterm*color14:     rgb:71/be/be
xterm*color15:    rgb:ff/ff/ff

xterm*cursorColor: #d6d6d6
! Mouse pointer
XTerm*pointerColor: white
XTerm*pointerColorBackground: black
XTerm*cursorColor: yellow
XTerm*cursorBlink: true
